.copyright {
    padding: 23px 0;
    background-color: #dde2e7;
}

.container__text {
    color: #b7babe;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-align: center;
}